<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<h1 class="lead mb-3 text-center">
                        Digital Architects Login
                    </h1>
								
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Username">
                    </mat-form-field>			
					
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Password">
                    </mat-form-field>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
                        <mat-checkbox> Remember Me </mat-checkbox>

					</div>
			

                    <div style="background-color : transparent; border : none;" class="form-control">
                      <button type="button" class="w-100" mat-flat-button color="primary">Login</button>
                    </div>
					
		
				</form>

				<div class="login100-more" style="background-image: url('../../assets/images/login-page-4.png'); background-position: left bottom;">
				</div>
			</div>
		</div>
	</div>
	