<!-- HERE IS THE HEADER COMPONENT -->
<div class="header">
  <div class="header-left-side d-flex">
    <button class="custom-button" (click)="handleToggle()">
      <i
        [class.icon-rotated-180]="!sidenavState"
        [class.icon-rotated-0]="sidenavState"
        class="fal fa-chevron-left fa-lg"
      ></i>
    </button>
    <h1 class="header-logo lead ml-2 mb-0">Digital Architects</h1>
  </div>
  <div class="header-right-side" style="height : 50px;">
    <button
      style="
      color : white;
      height : 100%;   
      font-family: Roboto;
      font-size: 20px;
      font-weight: 300;
      outline: none"
      mat-button
      [matMenuTriggerFor]="menu"
    >
      {{ (username$ | async) ? (username$ | async) : "No User" }}
    </button>
    <mat-menu #menu="matMenu">
      <button
        style="
      outline: none;   
      font-family: Roboto;
      font-size: 17px;
      font-weight: 300;"
        (click)="handleLogout()"
        mat-menu-item
      >
        Log Out
      </button>
    </mat-menu>
  </div>
</div>
