
<mat-sidenav-container class="dashboard-container">
  <mat-sidenav class="custom-mat-sidenav shadow" mode="side" opened>
    
    <!-- HERE COMES THE LOGO OF THE COMPANY AND SOME LOGGED IN USER INFORMATION. -->
    <div class="sidenav-header">
      <img class="sidenav-header-logo pl-3" src="assets/images/admin-panel-logo.png" alt="">
    </div>

    <!-- HERE IS ALL THE SIDENAV CONTENT -->
    <mat-list>
      <a mat-list-item [routerLink]="['/dashboard/home']"> <i class="fal fa-home fa-lg"></i> <span class="menu-list-item">Home</span> </a>
      <a mat-list-item style="cursor: pointer;" (click)="secondItemState = !secondItemState"> <i class="fal fa-chart-line fa-lg"></i> <span class="menu-list-item"> Charts </span> <i [class.icon-rotated-180]="secondItemState" [class.icon-rotated-0]="!secondItemState" class="fal fa-chevron-down fa-lg ml-auto"></i> </a>
        <a @toggleSubmenu *ngIf="secondItemState" class="ml-3" mat-list-item [routerLink]="['/dashboard/home']"> <i class="fal fa-chart-pie fa-lg"></i> <span class="menu-list-item"> Pie </span> </a>
      
      
      <a mat-list-item [routerLink]="['/dashboard/home']"> <i class="fal fa-database fa-lg"></i> <span class="menu-list-item"> Data </span> </a>
      <a mat-list-item [routerLink]="['/dashboard/home']"> <i class="fal fa-link fa-lg"></i> <span class="menu-list-item"> Firm </span> </a>
      <a mat-list-item [routerLink]="['/dashboard/home']"> <i class="fal fa-cogs fa-lg"></i> <span class="menu-list-item"> Settings </span> </a>    
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <!-- HERE IS THE HEADER COMPONENT -->
    <div class="header">
        <button class="custom-button" (click)="matSidenav.toggle()"> <i [class.icon-rotated-180]="matSidenav.opened" [class.icon-rotated-0]="!matSidenav.opened" class="fal fa-chevron-left fa-lg"></i> </button>
        <h1 class="header-logo lead ml-2 mb-0">Digital Architects</h1>
    </div>
    
    <!-- HERE IS ALL THE APP ROUTES... -->
    <div class="m-3 p-3">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>


